@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ---------------commoned css styling  */

#root {
  --bg-color: #F4F5F8;
  --dark-gray: #6C6F75;
  --blackish: #282A2F;
  --white: #ffffff ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-family: 'Poppins', sans-serif;
}

.app {
  background-color: var(--bg-color);
}


.box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
}
